<%= form_with model: @activity_log, local: true do |form| %>

  <% if @activity_log.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@activity_log.errors.count, "error") %> prohibited
        this log from being saved:
      </h2>
      <ul>
        <% @activity_log.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label >Activity: </label>
    <%= form.collection_select :activity_id, Activity.order(:id),:id,:title, {prompt: true}, {class: 'form-control text-center'} %>
  </div>
  <div class="form-group">
    <label>Date: </label>
    <%= form.date_field :date, class: 'form-control datepicker text-center', value: "Date"%>
  </div>
  <div class="form-group">
    <label>Duration: </label>
    <%= form.number_field :duration, class: "form-control text-center", placeholder: "Minutes", type: "number", required: true %>
  </div>

  <div>
    <%= form.submit class: 'btn btn-outline-dark form-control' %>
  </div>

<% end %>
