<main class="flex-fill">
  <div class="container text-center">
    <h1 class="m-3">Activities</h1>

    <%= link_to 'New Activity', new_activity_path, class: 'btn btn-outline-dark m-3' %>

    <div>
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
          <th>Title</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        </thead>

        <% @activities.each do |activity| %>
          <tr>
            <td><%= activity.title %></td>
            <td><%= link_to 'Show', activity_path(activity) %></td>
            <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
            <td><%= link_to 'Delete', activity_path(activity),
                    method: :delete,
                    data: { confirm: 'Are you sure you want to delete ' + activity.title + '?' } %></td>
          </tr>
        <% end %>
      </table>
    </div>  
  </div>  
</main>

